<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 4220/5223 + MATH 4260</h1>
      <h2>Numerical Analysis: Linear and Nonlinear Problems</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Gates G01<br/>
        Lecture: MWF 2:30-3:20<br/>
        Discussion: <a href="https://piazza.com/">Piazza</a><br/>
        Course material: <a href="https://www.github.com/dbindel/cs4220-s20/">GitHub</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a> 
        (<a href="mailto:bindel@cs.cornell.edu">bindel@cornell.edu</a>)<br/>
        OH: W 1:30-2:30, Th 10-11 (or <a href="http://www.meetme.so/DavidBindel">by appt</a>)
      </p>
      <p>
        TA: <a href="http://www.cs.cornell.edu/~don/">Darian Nwankwo</a> 
	(<a href="mailto:don4@cornell.edu">don4@cornell.edu</a>)<br/>
        TA: <a href="https://www.cam.cornell.edu/research/grad-students/jessie-xinran-zhu">Xinran Zhu</a>
        (<a href="mailto:xz584@cornell.edu">xz584@cornell.edu</a>)<br/>
        OH: TBD
      </p>
    </div>
    </div>
  </div>
</div>
